<h5 class="font-weight-bold mt-0 ml-1"><strong><i class="fas fa-laptop mr-2"></i>MY DASHBOARD</strong></h5>
<hr class="red title-hr mt-0 mb-2">

<div class="row">

    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
        <!-- Card -->
        <div class="card card-image mb-2" style="background-image: url(https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2814%29.jpg);">

            <!-- Content -->
            <div class="text-white text-center d-flex align-items-center rgba-black-strong py-2 px-3">
            <div>
                <h5 class="my-2"><i class="dashboard-icon fas fa-user-lock pt-4 fa-lg"></i></h5>
                <h5 class="card-title pt-2 mb-2"><small>48 Produits</small></h5>
                <p>Lorem ipsum dolor sit amet, eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
                <a href="/user/product" class="btn btn-outline-light font-weight-bold py-2 px-4">Voir Mes Produits <i class="fas fa-chevron-circle-right ml-2"></i></a>
            </div>
            </div>

        </div>
        <!-- Card -->
    </div>

    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
        <!-- Card -->
        <div class="card card-image mb-2" style="background-image: url(https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2815%29.jpg);">

            <!-- Content -->
            <div class="text-white text-center d-flex align-items-center rgba-black-strong py-2 px-3">
            <div>
                <h5 class="my-2"><i class="dashboard-icon fas fa-store pt-4 fa-lg"></i></h5>
                <h5 class="card-title pt-2 mb-2"><small>12 Boutiques</small></h5>
                <p>Lorem ipsum dolor sit amet, eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
                <a href="/user/shop" class="btn btn-outline-light font-weight-bold py-2 px-4">Voir Mes Boutiques <i class="fas fa-chevron-circle-right ml-2"></i></a>
            </div>
            </div>

        </div>
        <!-- Card -->
    </div>

    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
        <!-- Card -->
        <div class="card card-image mb-2" style="background-image: url(https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2816%29.jpg);">

            <!-- Content -->
            <div class="text-white text-center d-flex align-items-center rgba-black-strong py-2 px-3">
            <div>
                <h5 class="my-2"><i class="dashboard-icon far fa-list-alt pt-4 fa-lg"></i></h5>
                <h5 class="card-title pt-2 mb-2"><small>8 Offres</small></h5>
                <p>Lorem ipsum dolor sit amet, eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
                <a href="/user/offer" class="btn btn-outline-light font-weight-bold py-2 px-4">Voir Mes Offres <i class="fas fa-chevron-circle-right ml-2"></i></a>
            </div>
            </div>

        </div>
        <!-- Card -->
    </div>

    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
        <!-- Card -->
        <div class="card card-image mb-2" style="background-image: url(https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2814%29.jpg);">

            <!-- Content -->
            <div class="text-white text-center d-flex align-items-center rgba-black-strong py-2 px-3">
            <div>
                <h5 class="my-2"><i class="dashboard-icon far fa-list-alt pt-4 fa-lg"></i></h5>
                <h5 class="card-title pt-2 mb-2"><small>4 Demandes</small></h5>
                <p>Lorem ipsum dolor sit amet, eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
                <a href="/user/request" class="btn btn-outline-light font-weight-bold py-2 px-4">Voir Mes Demandes <i class="fas fa-chevron-circle-right ml-2"></i></a>
            </div>
            </div>

        </div>
        <!-- Card -->
    </div>

</div>