<h5 class="font-weight-bold mt-0 ml-1"><strong><i class="fas fa-laptop mr-2"></i>MY DASHBOARD</strong></h5>
<hr class="red title-hr mt-0 mb-2">

<!-- Card -->
<div class="card card-image mb-2" style="background-image: url(https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2814%29.jpg);">

    <!-- Content -->
    <div class="text-white text-center d-flex align-items-center rgba-black-strong py-2 px-3">
    <div>
        <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
                <h5 class="my-2"><i class="dashboard-icon fas fa-user-lock mt-xl-4 mt-lg-4 mt-md-4 pt-4 fa-lg"></i></h5>
            </div>
            <div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 col-12">
                <h5 class="card-title pt-2 mb-2"><small>48 Produits</small></h5>
                <p class="mb-2">Lorem ipsum dolor sit amet, eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam labore et dolore magna.</p>
                <a href="/user/product" class="btn btn-outline-light font-weight-bold py-2 px-4">Voir Mes Produits <i class="fas fa-chevron-circle-right ml-2"></i></a>
            </div>
        </div>
    </div>
    </div>

</div>
<!-- Card -->

<!-- Card -->
<div class="card card-image mb-2" style="background-image: url(https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2815%29.jpg);">

    <!-- Content -->
    <div class="text-white text-center d-flex align-items-center rgba-black-strong py-2 px-3">
    <div>
        <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
                <h5 class="my-2"><i class="dashboard-icon fas fa-store mt-xl-4 mt-lg-4 mt-md-4 pt-4 fa-lg"></i></h5>
            </div>
            <div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 col-12">
                <h5 class="card-title pt-2 mb-2"><small>12 Boutiques</small></h5>
                <p class="mb-2">Lorem ipsum dolor sit amet, eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam labore et dolore magna aliquyam.</p>
                <a href="/user/shop" class="btn btn-outline-light font-weight-bold py-2 px-4">Voir Mes Boutiques <i class="fas fa-chevron-circle-right ml-2"></i></a>
            </div>
        </div>
    </div>
    </div>

</div>
<!-- Card -->

<!-- Card -->
<div class="card card-image mb-2" style="background-image: url(https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2816%29.jpg);">

    <!-- Content -->
    <div class="text-white text-center d-flex align-items-center rgba-black-strong py-2 px-3">
    <div>
        <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
                <h5 class="my-2"><i class="dashboard-icon far fa-list-alt mt-xl-4 mt-lg-4 mt-md-4 pt-4 fa-lg"></i></h5>
            </div>
            <div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 col-12">
                <h5 class="card-title pt-2 mb-2"><small>8 Offres</small></h5>
                <p class="mb-2">Lorem ipsum dolor sit amet, eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam labore et dolore magna aliquyam.</p>
                <a href="/user/announce" class="btn btn-outline-light font-weight-bold py-2 px-4">Voir Mes Announces <i class="fas fa-chevron-circle-right ml-2"></i></a>
            </div>
        </div>
    </div>
    </div>

</div>
<!-- Card -->