<!-- Card -->
<div class="card mb-3">

    <!-- form -->
    <form>
      
        <!-- Button -->
        <button type="submit" class="btn btn-danger btn-rounded btn-action float-right mr-4"><i class="fas fa-share-square"></i> &nbsp; <span class="font-weight-bold" style="font-size: 0.7rem;"><strong>Postes a new Comment</strong></span></button>

        <!-- Card content -->
        <div class="card-body">
            <!--Textarea with icon prefix-->
            <div class="md-form mr-4 mb-0 mt-xl-2 mt-lg-2 mt-md-2 mt-sm-2 mt-4">
                <i class="fas fa-pencil-alt prefix"></i>
                <textarea type="text" id="comment" class="md-textarea form-control mb-0" required></textarea>
                <label for="comment">Add a New Comment</label>
            </div>   
        </div>

    </form>

</div>
<!-- Card -->
      