<!-- Card -->
<div class="card mb-2">
    
    <!-- Card content -->
    <div class="card-body">

        <!-- Title -->
        <blockquote class="blockquote bq-danger mb-0">
            <h6 class="card-title font-weight-bold ml-2 mb-0"><i class="far fa-user-circle"></i> GHEZAL Mohammed Amine</h6>
            <!-- Subtitle -->
            <p class="card-text mb-2 ml-2 py-0"><small><i class="far fa-clock"></i></small>&nbsp;07/24/2018</p>
            <!-- Text -->
            <p class="card-text py-0 ml-2">Recently, we added several exotic new dishes to the menu of our exotic new to exotic new to exotic new,
            Recently, we added several exotic new dishes to the menu.</p>
        </blockquote>

    </div>

</div>
<!-- Card -->