<!-- Card -->
<div class="card hoverable mb-2">

    <!-- Card content -->
    <div class="card-body pt-2 pb-2 mt-0 mt-1">

        <blockquote class="blockquote bq-danger py-0 mb-0">

            <!-- Title -->
            <h6 class="card-title font-weight-bold mb-0">New spicy meals</h6>
            <!-- Subtitle -->
            <p class="card-text p-0 mb-0"><small><i class="far fa-clock"></i></small>&nbsp;07/24/2018</p>
            <!-- Locate -->
            <p class="card-text p-0 mb-0">
                <small><i class="fas fa-tag"></i></small>&nbsp;Sport&nbsp;&nbsp;
                <small><i class="fas fa-map-marker-alt"></i></small>&nbsp;Sidi Bel Abbes&nbsp;&nbsp;
                <small><i class="fas fa-bookmark"></i></small>&nbsp;Demande
            </p>
            <!-- Button -->
            <a href="/product/detail" class="btn btn-flat red-text font-weight-bold p-1 my-0 mr-0 mml-1 mt-0" href="#" style="font-size:0.7rem;">Voir Plus <i class="fas fa-chevron-circle-right"></i></a>

        </blockquote>
        
    </div>

</div>
<!-- Card -->