<!-- Card -->
<div class="card hoverable">        

    <!-- Card content -->
    <div class="card-body pt-2 pb-2">

        <!-- Title -->
        <h6 class="card-title font-weight-bold mb-0">New spicy meals</h6>
        <!-- Subtitle -->
        <p class="card-text mb-0"><small><i class="far fa-clock"></i></small>&nbsp;07/24/2018</p>
        <!-- Locate -->
        <p class="card-text mb-0"><small><i class="fas fa-tag"></i></small>&nbsp;Electroménager</p>
        <p class="card-text mb-0"><small><i class="fas fa-map-marker-alt"></i></small>&nbsp;Sidi Bel Abbes</p>
        <!-- Text -->
        <p class="card-text mb-0">
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
        </p>
        <!-- Button -->
        <span class="float-left">
            <a href="/product/detail" class="btn btn-flat red-text font-weight-bold p-0 my-0 mx-0" style="font-size:0.7rem;">Voir Plus <i class="fas fa-chevron-circle-right"></i></a>
        </span>
        <!-- price -->
    </div>


</div>
<!-- Card -->