<!-- Card -->
<div class="card hoverable">

    <!-- Card content -->
    <div class="card-body pt-2 pb-2 mt-0 mt-1 ml-2">

        <!-- Title -->
        <h6 class="card-title font-weight-bold mb-0">New spicy meals</h6>
        <!-- Subtitle -->
        <p class="card-text mb-1"><small><i class="far fa-clock"></i></small>&nbsp;07/24/2018</p>
        <!-- Text -->
        <p class="card-text mb-1 ml-2">
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
            At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
        </p>
        <!-- Locate -->
        <p class="card-text mb-0"><small><i class="fas fa-tag"></i></small>&nbsp;Sport&nbsp;&nbsp;<small><i class="fas fa-map-marker-alt"></i></small>&nbsp;Sidi Bel Abbes</p>
        <!-- Button -->
        <a href="/product/detail" class="btn btn-flat red-text font-weight-bold p-1 my-0 mr-0 mml-1 mt-0" href="#" style="font-size:0.7rem;">Voir Plus <i class="fas fa-chevron-circle-right"></i></a>
    
    </div>

</div>
<!-- Card -->