body{
    font-family: 'Fjalla One', sans-serif;
}
.title-hr {
    border-top: 2px solid rgba(0,0,0,0.1);
}

/* Ville ASIDE Style */

.ville {
position: relative;
height: 507px;
overflow-y: scroll;
}

.scrollbar-danger::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #F5F5F5;
    border-radius: 10px;
}

.scrollbar-danger::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

.scrollbar-danger::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #ff3547;
}

.thin::-webkit-scrollbar {
    width: 4px;
}