/*  Bring StrongPassword CSS  */
.password-valid {
    color: green;
}
.password-valid:before {
    content: "✔ ";
}
.password-invalid {
    color: #dc3545;
}
.password-invalid:before {            
    content: "✖ ";
}
.password-message h3 {
    font-size: 10pt;
    margin-top: 5px;
}
.password-message p {
    margin: 5px 0 0 0;
}