    <!-- Head -->
    <%- include('../partial/head.ejs') %>
    <style>
        body {
            background: #bdc3c7;  /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        }
    </style>
</head>

<body>
    <!-- Navbar -->
    <%- include('../partial/navbar.ejs') %>

    <main>

        <!-- Container -->
        <div class="container">
            <br><br><br>
            
                <!-- Center Card -->
                <div class="col-md-8 offset-md-2">

                    <!-- card hoverable -->
                    <div class="card hoverable">
        
                        <h5 class="card-header white-text text-center default-color-dark font-weight-bold text-uppercase py-4"><i class="fa fa-sign-in" aria-hidden="true"></i> &nbsp;&nbsp; Login</h5>
                
                        <!-- Card body -->
                        <div class="card-body">

                            <!-- Error Flash MSG -->
                            <div class="card z-depth-3 mb-3">
                                <div class="alert mb-0" role="alert" style="background-color:rgba(244, 67, 54, 0.3); border-color:#F44336;">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <blockquote class="blockquote bq-danger mb-0 pt-0 pb-0">
                                        <p class="bq-title pt-0 pb-0"><i class="fa fa-times-circle" aria-hidden="true"></i> Error notification</p>
                                        <p class="pt-0 pb-0 mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                    </blockquote>
                                </div>
                            </div>
    
                            <!-- Card shadow -->
                            <div class="z-depth-5">
    
                                <!-- Card -->
                                <div class="card">
    
                                    <!-- Card content -->
                                    <div class="card-body">
    
                                        <!-- Material input -->
                                        <form class="needs-validation" action="/user/login" method="post"  novalidate>
    
                                            <!-- Email -->
                                            <div class="md-form">
                                                <i class="fa fa-envelope prefix"></i>
                                                <label for="email">Email</label>
                                                <input type="email" name="email" class="form-control" required>
                                                <div class="invalid-feedback" style="margin-left: 40px; font-size: 13px;">
                                                    S'il vous plaît ajouter un Email .
                                                    </div>
                                                <div class="valid-feedback" style="margin-left: 40px;">
                                                    Merci .
                                                </div>
                                            </div>
    
                                            <!-- Password -->
                                            <div class="md-form mb-2">
                                                <i class="fa fa-lock prefix"></i>
                                                <input type="password" name="password" class="form-control" required>
                                                <label for="password">Mot de Passe</label>
                                                <div class="invalid-feedback" style="margin-left: 40px; font-size: 13px;">
                                                    S'il vous plaît ajouter un Mot de Passe .
                                                    </div>
                                                <div class="valid-feedback" style="margin-left: 40px;">
                                                    Merci .
                                                </div>
                                            </div>

                                            <div class="d-flex justify-content-end">                                                    
                                                <small><a href="#">Mot de Passe Oublié ?</a></small>
                                            </div>

                                            <!-- Button -->
                                            <div class="text-center">
                                                <button type="submit" class="btn btn-outline-success waves-effect"><i class="fa fa-key" aria-hidden="true"></i>&nbsp; Login</button>
                                            </div>
                                            
                                            <!-- Social register -->
                                            <hr>
                                            <div class="d-flex justify-content-end">
                                                <p>Se Connecter avec un seul Click
                                                    <a class="fb-ic ml-2 mr-2" role="button"><i class="fa fa-lg fa-facebook"></i> Facebook</a>
                                                    <a class="gplus-ic mr-2" role="button"><i class="fa fa-lg fa-google-plus"></i> Google</a>
                                                </p>
                                            </div>

                                        </form> 
                                        <!-- Material input -->    
    
                                    </div>
                                    <!-- Card content -->
    
                                </div>
                                <!-- Card -->
    
                            </div>
                            <!-- Card shadow -->    
    
                        </div>
                        <!-- Card body -->
        
                    </div>
                    <!-- card hoverable --> 

                </div>
                <!-- Center Card -->

            <br><br><br>
        </div>
        <!-- Container -->

    </main>

    <!-- Footer -->
    <%- include('../partial/footer.ejs') %>

    <!-- Script -->
    <%- include('../partial/script.ejs') %>

    <!-- Example starter JavaScript for disabling form submissions if there are invalid fields -->
    <script>
        (function () {
        window.addEventListener("load", () => {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            const forms = document.getElementsByClassName("needs-validation");
            // Loop over them and prevent submission
            const validation = Array.prototype.filter.call(forms, (form) => {
            form.addEventListener("submit", (event) => {
                if (form.checkValidity() === false) {
                event.preventDefault();
                event.stopPropagation();
                }
                form.classList.add("was-validated");
            }, false);
            });
        }, false);
        }());
    </script>

</body>

</html>