<!-- Card -->
<div class="card hoverable mb-2">

    <!-- Row -->
    <div class="row">

        <!-- Div 1 -->
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4 pr-0">

            <!-- Card image -->
            <div class="view overlay zoom" data-toggle="modal" data-target="#QuickView">
                <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Food/full page/8.jpg" height="106px" alt="Card image cap">
                <div class="mask waves-effect waves-light">
                    <p class="text-white pl-2 mt-1"><i class="fas fa-search"></i></p>
                </div>
            </div>

        </div>

        <!-- Div 2 -->
        <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-8 pl-0">

            <!-- Card content -->
            <div class="card-body pt-2 pb-2 mt-0 mt-1">

                <!-- Title -->
                <h6 class="card-title font-weight-bold mb-0">New spicy meals</h6>
                <!-- Subtitle -->
                <p class="card-text mb-0"><small><i class="far fa-clock"></i></small>&nbsp;07/24/2018</p>
                <!-- Locate -->
                <p class="card-text mb-0"><small><i class="fas fa-tag"></i></small>&nbsp;Sport&nbsp;&nbsp;<small><i class="fas fa-map-marker-alt"></i></small>&nbsp;Sidi Bel Abbes</p>
                <!-- Button -->
                <a href="/product/detail" class="btn btn-flat red-text font-weight-bold p-1 my-0 mr-0 mml-1 mt-0" href="#" style="font-size:0.7rem;">Voir Plus <i class="fas fa-chevron-circle-right"></i></a>
                <!-- Price -->
                <small class="card-title font-weight-bold float-right pt-1 my-0"><strong>22 000 Dzd</strong></small>
            
            </div>

        </div>

    </div>

</div>
<!-- Card -->