<nav class="navbar navbar-dark special-color-dark rounded mb-2">
    <div class="mr-auto">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb clearfix d-none d-sm-inline-flex pt-0">
                <li class="breadcrumb-item"><a class="white-text" href="#">Products</a></li>
                <li class="breadcrumb-item active">Smart Phone</li>
            </ol>
        </nav>
    </div>
    <form class="form-inline">
        <input class="form-control form-control-sm mr-sm-2" type="text" placeholder="Recherche" aria-label="Recherche">
    </form>
</nav>