<!-- Card -->
<div class="card hoverable">        

    <!-- Card image -->
    <div class="view overlay zoom" data-toggle="modal" data-target="#modalQuickView">
        <img class="card-img-top d-none d-sm-block" src="https://mdbootstrap.com/img/Photos/Horizontal/Food/full page/2.jpg" alt="Card image cap">
        <img class="card-img-top d-block d-sm-none" src="https://mdbootstrap.com/img/Photos/Horizontal/Food/full page/2.jpg" alt="Card image cap">
        <div class="mask waves-effect waves-light">
            <p class="text-white pl-2 mt-1"><i class="fa fa-search" aria-hidden="true"></i></p>
        </div>
    </div>
    
    <!-- Card content -->
    <div class="card-body pt-2 pb-2 mt-1">

        <!-- Title -->
        <h6 class="card-title font-weight-bold mb-0">New spicy meals</h6>
        <!-- Subtitle -->
        <p class="card-text mb-0"><i class="fa fa-clock-o pr-2"></i>07/24/2018</p>
        <!-- Text -->
        <p class="card-text mb-0 mt-sm-1 mt-2">Recently, we added several exotic new dishes to the menu of our restaurant from</p>
        <!-- Button -->
        <a class="btn btn-flat red-text font-weight-bold p-1 my-0 mr-0 mml-1 mt-1" style="font-size:0.7rem;">Voir Plus <i class="fa fa-chevron-circle-right" aria-hidden="true"></i></a>
        <i class="fa fa-heart text-muted float-right p-1 mb-0 mt-1" title="J'aime"></i>

    </div>

</div>
<!-- Card -->

