<!-- Card -->
<div class="card booking-card hoverable">

    <!-- Row -->
    <div class="row">

         <!-- Div 1 -->
         <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 pr-xl-0 pr-lg-0 pr-md-0 pr-sm-0">

            <!-- Card image -->
            <div class="view overlay zoom" data-toggle="modal" data-target="#QuickView">
                <img class="card-img-top d-none d-sm-block" src="https://mdbootstrap.com/img/Photos/Horizontal/Food/full page/5.jpg" height="148px" alt="Card image cap">
                <img class="card-img-top d-block d-sm-none" src="https://mdbootstrap.com/img/Photos/Horizontal/Food/full page/5.jpg" alt="Card image cap">
                <div class="mask waves-effect waves-light">
                    <p class="text-white pl-2 mt-1"><i class="fa fa-search" aria-hidden="true"></i></p>
                </div>
            </div>

        </div>

        <!-- Div 2 -->
        <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 pl-xl-0 pl-lg-0 pl-md-0 pl-sm-0">

            <!-- Card content -->
            <div class="card-body pt-2 pb-2 mt-0 mt-1">
                
                <!-- Title -->
                <h6 class="card-title font-weight-bold mb-0">La Sirena restaurant</h6>

                <!-- Data -->
                <ul class="list-unstyled list-inline rating mb-0">
                    <li class="list-inline-item mr-0"><i class="fa fa-star amber-text"> </i></li>
                    <li class="list-inline-item mr-0"><i class="fa fa-star amber-text"></i></li>
                    <li class="list-inline-item mr-0"><i class="fa fa-star amber-text"></i></li>
                    <li class="list-inline-item mr-0"><i class="fa fa-star amber-text"></i></li>
                    <li class="list-inline-item"><i class="fa fa-star-half-o amber-text"></i></li>
                    <li class="list-inline-item"><p class="text-muted mb-0">4.5 (413)</p></li>
                </ul>

                <!-- Text -->
                <p class="card-text mb-0">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <!-- Locate -->
                <p class="card-text mb-0"><i class="fa fa-tag"></i> Sport &nbsp;&nbsp; <i class="fa fa-map-marker"> Sidi Bel Abbes</i></p>
                <!-- Button -->
                <a href="#" class="btn btn-flat deep-purple-text font-weight-bold p-0 mx-0 mb-0" style="font-size:0.7rem;">Voir Plus <i class="fa fa-chevron-circle-right" aria-hidden="true"></i></a>
                    
            </div>

        </div>

    </div>
      
</div>
<!-- Card -->