<!-- Card -->
<div class="card promoting-card hoverable">

    <!-- Row -->
    <div class="row">

        <!-- Div 1 -->
        <div class="col-xl-4">

            <!-- Card image -->
            <div class="view overlay">
                <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Food/full page/2.jpg" alt="Card image cap">
                <a href="#!">
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>

        </div>

        <!-- Div 2 -->
        <div class="col-xl-8">

            <!-- Card content -->
            <div class="card-body d-flex flex-row pt-3 pb-2">
        
                <!-- Avatar -->
                <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-8.jpg" class="rounded-circle d-sm-none d-md-block d-lg-none d-xl-block mr-3" height="50px" width="50px" alt="avatar">
            
                <!-- Content -->
                <div>
            
                    <!-- Title -->
                    <h4 class="card-title font-weight-bold mb-2">New spicy meals</h4>
                    <!-- Subtitle -->
                    <p class="card-text"><i class="fa fa-clock-o pr-2"></i>07/24/2018</p>
            
                </div>
        
            </div>

            <!-- Card content -->
            <div class="card-body pt-0 pb-0">
        
                <!-- Text -->
                <p class="card-text mb-1">Recently, we added several exotic new dishes to the menu of our restaurant meals from .</p>
                <!-- Button -->
                <a class="btn btn-flat red-text font-weight-bold p-1 my-1 mr-0 mml-1" href="#">Voir Plus <i class="fa fa-chevron-circle-right" aria-hidden="true"></i></a>
                <i class="fa fa-heart text-muted float-right p-1 my-1" title="J'aime"></i>
            
            </div>

        </div>


    </div>

</div>
<!-- Card -->