<h5 class="font-weight-bold mt-0 ml-1"><strong>CATEGORIES</strong></h5>
<hr class="red title-hr mt-0">

<ul class="list-group z-depth-1">

    <li class="list-group-item d-flex justify-content-between align-items-center">
        <a class="font-weight-bold" style="font-size:0.9rem"><i class="fas fa-briefcase mr-2"></i>Emploi</a>
        <span class="badge badge-danger badge-pill">34</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
        <a class="font-weight-bold" style="font-size:0.9rem"><i class="fas fa-car mr-2"></i>Véhicules</a>
        <span class="badge badge-danger badge-pill">28</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
        <a class="font-weight-bold" style="font-size:0.9rem"><i class="fas fa-university mr-2" aria-hidden="true"></i>Immobilier</a>
        <span class="badge badge-danger badge-pill">17</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
        <a class="font-weight-bold" style="font-size:0.9rem"><i class="fas fa-plane mr-2" aria-hidden="true"></i>Vacances</a>
        <span class="badge badge-danger badge-pill">23</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
        <a class="font-weight-bold" style="font-size:0.9rem"><i class="fas fa-mobile-alt mr-2" aria-hidden="true"></i>Multimedia</a>
        <span class="badge badge-danger badge-pill">19</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
        <a class="font-weight-bold" style="font-size:0.9rem"><i class="fas fa-gamepad mr-2"></i>Loisirs</a>
        <span class="badge badge-danger badge-pill">26</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
        <a class="font-weight-bold" style="font-size:0.9rem"><i class="fas fa-wrench mr-2"></i>Materiel Profissionnel</a>
        <span class="badge badge-danger badge-pill">55</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
        <a class="font-weight-bold" style="font-size:0.9rem"><i class="fas fa-users mr-2"></i>Services</a>
        <span class="badge badge-danger badge-pill">35</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
        <a class="font-weight-bold" style="font-size:0.9rem"><i class="fas fa-home mr-2" aria-hidden="true"></i>Maison</a>
        <span class="badge badge-danger badge-pill">51</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
        <a class="font-weight-bold" style="font-size:0.9rem"><i class="fas fa-tshirt mr-2"></i>Mode</a>
        <span class="badge badge-danger badge-pill">19</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
        <a class="font-weight-bold" style="font-size:0.9rem"><i class="fas fa-gift mr-2" aria-hidden="true"></i>Autres</a>
        <span class="badge badge-danger badge-pill">63</span>
    </li>

</ul>