<h5 class="font-weight-bold mt-0 ml-1"><strong><i class="fas fa-users-cog mr-3"></i>USER ACCOUNT</strong></h5>
<hr class="red title-hr mt-0">

<ul class="list-group z-depth-1">

    <li class="list-group-item d-flex justify-content-between align-items-center">
        <a href="/user/profile" class="font-weight-bold black-text" style="font-size:0.9rem"><i class="fas fa-info-circle mr-3"></i>Mon Profile</a>
        <i class="fas fa-angle-double-right"></i>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
        <a href="/user/product" class="font-weight-bold black-text" style="font-size:0.9rem"><i class="fas fa-user-lock mr-3"></i>Mes Produits</a>
        <i class="fas fa-angle-double-right"></i>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
        <a href="/user/shop" class="font-weight-bold black-text" style="font-size:0.9rem"><i class="fas fa-store mr-3"></i>Mes Boutiques</a>
        <i class="fas fa-angle-double-right"></i>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
        <a href="/user/announce" class="font-weight-bold black-text" style="font-size:0.9rem"><i class="far fa-list-alt mr-3"></i>Mes Annonces</a>
        <i class="fas fa-angle-double-right"></i>
    </li>

</ul>