<!-- Success Flash MSG -->
<div class="card z-depth-3 mb-4">
    <div class="alert mb-0" role="alert" style="background-color:rgba(139, 195, 74, 0.3); border-color:#8BC34A;">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <blockquote class="blockquote bq-success mb-0 pt-0 pb-0">
            <p class="bq-title pt-0 pb-0"><i class="fa fa-check-circle" aria-hidden="true"></i> Success notification</p>
            <p class="pt-0 pb-0 mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </blockquote>
    </div>
</div>

<!-- Error Flash MSG -->
<div class="card z-depth-3 mb-4">
    <div class="alert mb-0" role="alert" style="background-color:rgba(244, 67, 54, 0.3); border-color:#F44336;">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <blockquote class="blockquote bq-danger mb-0 pt-0 pb-0">
            <p class="bq-title pt-0 pb-0"><i class="fa fa-times-circle" aria-hidden="true"></i> Error notification</p>
            <p class="pt-0 pb-0 mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </blockquote>
    </div>
</div>

<!-- Info Flash MSG -->
<div class="card z-depth-3 mb-4">
    <div class="alert mb-0" role="alert" style="background-color:rgba(33, 150, 243, 0.3); border-color:#2196F3;">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <blockquote class="blockquote bq-primary mb-0 pt-0 pb-0">
            <p class="bq-title pt-0 pb-0"><i class="fa fa-info-circle" aria-hidden="true"></i> Info notification</p>
            <p class="pt-0 pb-0 mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </blockquote>
    </div>
</div>

<!-- Warning Flash MSG -->
<div class="card z-depth-3 mb-4">
    <div class="alert mb-0" role="alert" style="background-color: rgba(255, 152, 0, 0.3); border-color: #FF9800;">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <blockquote class="blockquote bq-warning mb-0 pt-0 pb-0">
            <p class="bq-title pt-0 pb-0" style="color:#FF9800!important;"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> Warning notification</p>
            <p class="pt-0 pb-0 mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </blockquote>
    </div>
</div>