<!-- Modal Register -->
<div class="modal fade" id="register" tabindex="-1" role="dialog" aria-labelledby="ModalRegister" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body p-0">
                
                <!-- card hoverable Register -->
                <div class="card hoverable">

                    <h5 class="card-header white-text text-center default-color-dark font-weight-bold text-uppercase py-4"><i class="fa fa-user-plus" aria-hidden="true"></i> &nbsp;&nbsp; Register</h5>
            
                    <!-- Card body -->
                    <div class="card-body">

                        <!-- Card shadow -->
                        <div class="z-depth-5">

                            <!-- Card -->
                            <div class="card">

                                <!-- Card content -->
                                <div class="card-body">

                                    <!-- Material input -->
                                    <form class="needs-validation" action="/user/login" method="post"  novalidate>

                                        <!-- Username -->
                                        <div class="md-form">
                                            <i class="fa fa-user prefix"></i>
                                            <label for="username">Nom Utilisateur</label>
                                            <input type="text" name="username" class="form-control" pattern=".{6,}" required>
                                            <div class="invalid-feedback" style="margin-left: 40px; font-size: 13px;">
                                                Doit Contenir au moin 6 lettre .
                                                </div>
                                            <div class="valid-feedback" style="margin-left: 40px;">
                                                Merci .
                                            </div>
                                        </div>
                
                                        <!-- Email -->
                                        <div class="md-form">
                                            <i class="fa fa-envelope prefix"></i>
                                            <label for="email">Email</label>
                                            <input type="email" name="email" class="form-control" required>
                                            <div class="invalid-feedback" style="margin-left: 40px; font-size: 13px;">
                                                S'il vous plaît ajouter un Email .
                                                </div>
                                            <div class="valid-feedback" style="margin-left: 40px;">
                                                Merci .
                                            </div>
                                        </div>

                                        <!-- Password -->
                                        <div class="md-form mb-2" id="password-show">
                                            <i class="fa fa-lock prefix"></i>
                                            <label for="password">Mot de Passe</label>
                                            <input type="password" name="password" id="password" class="form-control input password-validation mb-0" required>
                                            <small class="form-text text-muted mt-0">
                                                <div class="progress md-progress mb-0">
                                                    <div class="progress-bar progress-bar-striped progress-bar-animated" id="progress-bar" role="progressbar" style="width: 0;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>
                                            </small>
                                            <small class="form-text text-muted mt-0"><button type="button" class="btn btn-md btn-link button float-right p-0" style="color:grey!important;"><i class="fa fa-eye grey-text fa-lg" aria-hidden="true"></i> Visible</button></small>
                                            <small class="form-text text-muted" style="color:#dc3545!important;">* Doit contenir au moins un chiffre, une lettre majuscule et minuscule et au moins 8 caractères.</small>
                                            <small id="passwordHelpBlock" class="form-text text-muted password-message"></small>
                                        </div>

                                        <!-- Password Confirmation -->
                                        <div class="md-form mb-2">
                                            <i class="fa fa-lock prefix"></i>
                                            <label for="confirm_password">Confirmation Mot de Passe</label>
                                            <input type="password" name="confirm_password" class="form-control" required>
                                            <div class="invalid-feedback" style="margin-left: 40px; font-size: 13px;">
                                                S'il vous plaît ajouter un Mot de Passe .
                                                </div>
                                            <div class="valid-feedback" style="margin-left: 40px;">
                                                Merci .
                                            </div>
                                        </div>

                                        <!-- Button -->
                                        <div class="text-center">
                                            <button type="submit" class="btn btn-outline-success waves-effect pl-5 pr-5"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp; Register</button>
                                        </div>

                                    </form> 
                                    <!-- Material input -->   
                                    
                                    <!-- Mot de Passe Oublie -->    
                                    <!--Accordion wrapper-->
                                    <div class="accordion md-accordion pb-0" id="accordionRegsiter" role="tablist" aria-multiselectable="true">

                                        <!-- Accordion card -->
                                        <div class="card">
                                    
                                            <!-- Card header -->
                                            <div class="card-header p-0" role="tab" id="heading">
                                                <a class="collapsed" data-toggle="collapse" data-parent="#accordionRegsiter" href="#collapse"
                                                aria-expanded="false" aria-controls="collapse">
                                                <h6 class="mb-1 float-right">
                                                    <small>Renvoyer Le Code d'Activation</small>
                                                </h6>
                                                </a>
                                            </div>
                                        
                                            <!-- Card body -->
                                            <div id="collapse" class="collapse" role="tabpanel" aria-labelledby="heading" data-parent="#accordionRegsiter">
                                                <div class="card-body pt-1 pr-0 ml-3 pb-2">
                                                    <form class="needs-validation" action="/user/login" method="post"  novalidate>
                                                        <div class="input-group">
                                                            <input type="email" class="form-control" name="email" placeholder="Email" aria-label="Email" aria-describedby="button" required>
                                                            <div class="input-group-append">
                                                                <button class="btn btn-md btn-outline-success m-0 px-3 py-2 z-depth-0 waves-effect" type="submit"><i class="fa fa-paper-plane" aria-hidden="true"></i> Valider</button>
                                                            </div>
                                                            <div class="invalid-feedback" style="font-size: 13px;">
                                                                <strong>S'il vous plaît ajouter Email .</strong>
                                                                </div>
                                                            <div class="valid-feedback" style="font-size: 13px;">
                                                                Merci .
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                    
                                        </div>
                                        <!-- Accordion card -->
                                                
                                    </div>
                                    <!--Accordion wrapper-->

                                    <!-- Social register -->
                                    <hr class="mb-2 mt-1" style="margin-left: 35px;">
                                    <div class="d-flex justify-content-end">
                                        <p>
                                            <small>Se Connecter avec un seul Click</small>
                                            <a class="fb-ic ml-2 mr-2" role="button"><i class="fa fa-lg fa-facebook"></i> Facebook</a>
                                            <a class="gplus-ic mr-2" role="button"><i class="fa fa-lg fa-google-plus"></i> Google</a>
                                        </p>
                                    </div>

                                </div>
                                <!-- Card content -->

                            </div>
                            <!-- Card -->

                        </div>
                        <!-- Card shadow -->    

                    </div>
                    <!-- Card body -->
    
                </div>
                <!-- card hoverable Register --> 

            </div>
        </div>
    </div>
</div>

<!-- Modal Login -->
<div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="ModalLogin" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body p-0">
                
                <!-- card hoverable Login -->
                <div class="card hoverable">
        
                    <h5 class="card-header white-text text-center default-color-dark font-weight-bold text-uppercase py-4"><i class="fa fa-sign-in" aria-hidden="true"></i> &nbsp;&nbsp; Login</h5>
            
                    <!-- Card body -->
                    <div class="card-body">

                        <!-- Card shadow -->
                        <div class="z-depth-2">

                            <!-- Card -->
                            <div class="card">

                                <!-- Card content -->
                                <div class="card-body">

                                    <!-- Material input -->
                                    <form class="needs-validation" action="/user/login" method="post"  novalidate>

                                        <!-- Email -->
                                        <div class="md-form">
                                            <i class="fa fa-envelope prefix"></i>
                                            <label for="email">Email</label>
                                            <input type="email" name="email" class="form-control" required>
                                            <div class="invalid-feedback" style="margin-left: 40px; font-size: 13px;">
                                                S'il vous plaît ajouter un Email .
                                            </div>
                                            <div class="valid-feedback" style="margin-left: 40px;">
                                                Merci .
                                            </div>
                                        </div>

                                        <!-- Password -->
                                        <div class="md-form mb-3">
                                            <i class="fa fa-lock prefix"></i>
                                            <label for="password">Mot de Passe</label>
                                            <input type="password" name="password" class="form-control" required>
                                            <div class="invalid-feedback" style="margin-left: 40px; font-size: 13px;">
                                                S'il vous plaît ajouter un Mot de Passe .
                                            </div>
                                            <div class="valid-feedback" style="margin-left: 40px;">
                                                Merci .
                                            </div>
                                        </div>

                                        <!-- Button -->
                                        <div class="text-center">
                                            <button type="submit" class="btn btn-outline-success waves-effect pl-5 pr-5"><i class="fa fa-key" aria-hidden="true"></i>&nbsp; Login</button>
                                        </div>
                                        
                                    </form>

                                    <!-- Mot de Passe Oublie -->    
                                    <!--Accordion wrapper-->
                                    <div class="accordion md-accordion pb-0" id="accordionLogin" role="tablist" aria-multiselectable="true">

                                        <!-- Accordion card -->
                                        <div class="card">
                                    
                                            <!-- Card header -->
                                            <div class="card-header p-0" role="tab" id="heading">
                                                <a class="collapsed" data-toggle="collapse" data-parent="#accordionLogin" href="#collapse"
                                                aria-expanded="false" aria-controls="collapse">
                                                <h6 class="mb-1 float-right">
                                                    <small>Mot de Passe Oublié ?</small>
                                                </h6>
                                                </a>
                                            </div>
                                        
                                            <!-- Card body -->
                                            <div id="collapse" class="collapse" role="tabpanel" aria-labelledby="heading" data-parent="#accordionLogin">
                                                <div class="card-body pt-1 pr-0 ml-3 pb-2">
                                                    <form class="needs-validation" action="/user/login" method="post"  novalidate>
                                                        <div class="input-group">
                                                            <input type="email" class="form-control" name="email" placeholder="Email" aria-label="Email" aria-describedby="button" required>
                                                            <div class="input-group-append">
                                                                <button class="btn btn-md btn-outline-success m-0 px-3 py-2 z-depth-0 waves-effect" type="submit"><i class="fa fa-paper-plane" aria-hidden="true"></i> Valider</button>
                                                            </div>
                                                            <div class="invalid-feedback" style="font-size: 13px;">
                                                                <strong>S'il vous plaît ajouter un Mot de Passe .</strong>
                                                            </div>
                                                            <div class="valid-feedback" style="font-size: 13px;">
                                                                Merci .
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                    
                                        </div>
                                        <!-- Accordion card -->
                                            
                                    </div>
                                    <!--Accordion wrapper-->

                                    <!-- Social register -->
                                    <hr class="mb-2 mt-1" style="margin-left: 35px;">
                                    <div class="d-flex justify-content-end">
                                        <p>
                                            <small>Se Connecter avec un seul Click</small>
                                            <a class="fb-ic ml-2 mr-2" role="button"><i class="fa fa-lg fa-facebook"></i> Facebook</a>
                                            <a class="gplus-ic mr-2" role="button"><i class="fa fa-lg fa-google-plus"></i> Google</a>
                                        </p>
                                    </div>

                                </div>
                                <!-- Card content -->

                            </div>
                            <!-- Card -->

                        </div>
                        <!-- Card shadow -->    

                    </div>
                    <!-- Card body -->
    
                </div>
                <!-- card hoverable Login --> 

            </div>
        </div>
    </div>
</div>