<!-- Modal Register -->
<div class="modal fade" id="register" tabindex="-1" role="dialog" aria-labelledby="ModalRegister" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body p-0">
                
                <!-- card hoverable Register -->
                <div class="card hoverable">

                    <h5 class="card-header white-text text-center default-color-dark font-weight-bold text-uppercase py-4"><i class="fa fa-user-plus" aria-hidden="true"></i> &nbsp;&nbsp; Register
                        <button type="button" class="close white-text" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </h5>
            
                    <!-- Card body -->
                    <div class="card-body">

                        <!-- Card shadow -->
                        <div class="z-depth-5">

                            <!-- Card -->
                            <div class="card">

                                <!-- Card content -->
                                <div class="card-body">

                                    <!-- Material input -->
                                    <form class="needs-validation" action="/user/login" method="post"  novalidate>

                                        <!-- Username -->
                                        <div class="md-form">
                                            <i class="fa fa-user prefix"></i>
                                            <label for="username">Nom Utilisateur</label>
                                            <input type="text" name="username" class="form-control" pattern=".{8,}" required>
                                            <div class="col-xl-12 col-lg-12 col-md-10 col-sm-10 col-10 invalid-feedback animated fadeInRight p-0" style="margin-left: 40px; font-size: 13px;">
                                                Doit Contenir au moin 8 caractères .
                                                </div>
                                            <div class="valid-feedback animated fadeInRight" style="margin-left: 40px;">
                                                Merci .
                                            </div>
                                        </div>
                
                                        <!-- Email -->
                                        <div class="md-form">
                                            <i class="fa fa-envelope prefix"></i>
                                            <label for="email">Email</label>
                                            <input type="email" name="email" class="form-control" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required>
                                            <div class="col-xl-12 col-lg-12 col-md-10 col-sm-10 col-10 invalid-feedback animated fadeInRight p-0" style="margin-left: 40px; font-size: 13px;">
                                                S'il vous plaît ajouter un Email Valid.
                                                </div>
                                            <div class="valid-feedback animated fadeInRight" style="margin-left: 40px;">
                                                Merci .
                                            </div>
                                        </div>

                                        <!-- Password -->
                                        <div class="md-form">
                                            <i class="fa fa-lock prefix"></i>
                                            <label for="password">Mot de Passe</label>
                                            <input type="password" name="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" class="form-control mb-0" required>
                                            <div class="col-xl-12 col-lg-12 col-md-10 col-sm-10 col-10 invalid-feedback animated fadeInRight p-0" style="margin-left: 40px; font-size: 13px;">
                                                Doit contenir au moins un chiffre, une lettre majuscule et minuscule et au moins 8 caractères .
                                            </div>
                                            <div class="valid-feedback animated fadeInRight" style="margin-left: 40px;">
                                                Merci .
                                            </div>
                                        </div>

                                        <!-- Password Confirmation -->
                                        <div class="md-form mb-1">
                                            <i class="fa fa-lock prefix"></i>
                                            <label for="confirm_password">Confirmation Mot de Passe</label>
                                            <input type="password" name="confirm_password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" class="form-control" required>
                                            <div class="col-xl-12 col-lg-12 col-md-10 col-sm-10 col-10 invalid-feedback animated fadeInRight p-0" style="margin-left: 40px; font-size: 13px;">
                                                S'il vous plaît ajouter à Nouveau Votre Mot de Passe .
                                            </div>
                                            <div class="valid-feedback animated fadeInRight" style="margin-left: 40px;">
                                                Merci .
                                            </div>
                                            <!-- Collapse buttons -->
                                            <div class="text-left mt-2">
                                                <a class="btn btn-link font-weight-bold py-0 my-0" data-toggle="collapse" href="#collapseRegister" aria-expanded="false" aria-controls="collapseRegister" style="color:#007bff!important; font-size: 0.7rem;">
                                                    <i class="fa fa-angle-double-right" aria-hidden="true"></i> &nbsp; Renvoyer le Code d'Activation !
                                                </a>
                                            </div>
                                            <!-- / Collapse buttons --> 
                                        </div>

                                        <!-- Button -->
                                        <div class="text-center">
                                            <button type="submit" class="btn btn-outline-success waves-effect pl-5 pr-5"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp; Register</button>
                                        </div>

                                    </form> 
                                    <!-- Material input -->   
                                    
                                    <!-- Renvoyer Code -->   
                                    <!-- Collapsible element -->
                                    <div class="collapse" id="collapseRegister">
                                        <hr>
                                        <form class="needs-validation" action="/user/login" method="post"  novalidate>
                                            <div class="input-group">
                                                <input type="email" class="form-control" name="email" placeholder="Email"  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" aria-label="Email" aria-describedby="button" required>
                                                <div class="input-group-append">
                                                    <button class="btn btn-md btn-outline-success m-0 px-3 py-2 z-depth-0 waves-effect" type="submit"><i class="fa fa-paper-plane" aria-hidden="true"></i> Valider</button>
                                                </div>
                                                <div class="invalid-feedback animated fadeInRight" style="font-size: 13px;">
                                                    S'il vous plaît ajouter Email Valid.
                                                </div>
                                                <div class="valid-feedback animated fadeInRight" style="font-size: 13px;">
                                                    Merci .
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <!-- / Collapsible element -->

                                </div>
                                <!-- Card content -->

                            </div>
                            <!-- Card -->

                        </div>
                        <!-- Card shadow -->    

                    </div>
                    <!-- Card body -->
    
                </div>
                <!-- card hoverable Register --> 

            </div>
        </div>
    </div>
</div>

<!-- Modal Login -->
<div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="ModalLogin" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body p-0">
                
                <!-- card hoverable Login -->
                <div class="card hoverable">
        
                    <h5 class="card-header white-text text-center default-color-dark font-weight-bold text-uppercase py-4"><i class="fa fa-sign-in" aria-hidden="true"></i> &nbsp;&nbsp; Login
                        <button type="button" class="close white-text" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </h5>
            
                    <!-- Card body -->
                    <div class="card-body">

                        <!-- Card shadow -->
                        <div class="z-depth-2">

                            <!-- Card -->
                            <div class="card">

                                <!-- Card content -->
                                <div class="card-body">

                                    <!-- Material input -->
                                    <form class="needs-validation" action="/user/login" method="post"  novalidate>

                                        <!-- Email -->
                                        <div class="md-form">
                                            <i class="fa fa-envelope prefix"></i>
                                            <label for="email">Email</label>
                                            <input type="email" name="email" class="form-control" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required>
                                            <div class="col-xl-12 col-lg-12 col-md-10 col-sm-10 col-10 invalid-feedback animated fadeInRight p-0" style="margin-left: 40px; font-size: 13px;">
                                                S'il vous plaît ajouter un Email Valid.
                                            </div>
                                            <div class="valid-feedback animated fadeInRight" style="margin-left: 40px;">
                                                Merci .
                                            </div>
                                        </div>

                                        <!-- Password -->
                                        <div class="md-form mb-1">
                                            <i class="fa fa-lock prefix"></i>
                                            <label for="password">Mot de Passe</label>
                                            <input type="password" name="password" class="form-control mb-0" required>
                                            <div class="col-xl-12 col-lg-12 col-md-10 col-sm-10 col-10 invalid-feedback animated fadeInRight p-0" style="margin-left: 40px; font-size: 13px;">
                                                S'il vous plaît ajouter un Mot de Passe .
                                            </div>
                                            <div class="valid-feedback animated fadeInRight" style="margin-left: 40px;">
                                                Merci .
                                            </div>
                                            <!-- Collapse buttons -->
                                            <div class="text-left mt-2">
                                                <a class="btn btn-link font-weight-bold py-0 my-0" data-toggle="collapse" href="#collapseLogin" aria-expanded="false" aria-controls="collapseLogin" style="color:#007bff!important; font-size: 0.7rem;">
                                                    <i class="fa fa-angle-double-right" aria-hidden="true"></i> &nbsp; Mot de Passe Oublié ?
                                                </a>
                                            </div>
                                            <!-- / Collapse buttons -->   
                                        </div>

                                        <!-- Button -->
                                        <div class="text-center">
                                            <button type="submit" class="btn btn-outline-success waves-effect pl-5 pr-5"><i class="fa fa-key" aria-hidden="true"></i>&nbsp; Login</button>
                                        </div>
                                        
                                    </form>

                                    <!-- Mot de Passe Oublie --> 
                                    <!-- Collapsible element -->
                                    <div class="collapse" id="collapseLogin">
                                        <hr>
                                        <form class="needs-validation" action="/user/login" method="post"  novalidate>
                                            <div class="input-group">
                                                <input type="email" class="form-control" name="email" placeholder="Email"  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" aria-label="Email" aria-describedby="button" required>
                                                <div class="input-group-append">
                                                    <button class="btn btn-md btn-outline-success m-0 px-3 py-2 z-depth-0 waves-effect" type="submit"><i class="fa fa-paper-plane" aria-hidden="true"></i> Valider</button>
                                                </div>
                                                <div class="invalid-feedback animated fadeInRight" style="font-size: 13px;">
                                                    S'il vous plaît ajouter Email Valid.
                                                </div>
                                                <div class="valid-feedback animated fadeInRight" style="font-size: 13px;">
                                                    Merci .
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <!-- / Collapsible element -->

                                </div>
                                <!-- Card content -->

                            </div>
                            <!-- Card -->

                        </div>
                        <!-- Card shadow -->    

                    </div>
                    <!-- Card body -->
    
                </div>
                <!-- card hoverable Login --> 

            </div>
        </div>
    </div>
</div>