<nav aria-label="Page navigation example">

    <ul class="pagination pagination-circle pg-blue justify-content-center mt-3">

        <li class="page-item"><a class="page-link">Premier</a></li>
        <li class="page-item">

            <a class="page-link" aria-label="Précédent">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Précédent</span>
            </a>
            
        </li>
        <li class="page-item"><a class="page-link">1</a></li>
        <li class="page-item"><a class="page-link">2</a></li>
        <li class="page-item"><a class="page-link">3</a></li>
        <li class="page-item">
            
            <a class="page-link" aria-label="Suivant">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Suivant</span>
            </a>
            
        </li>
        <li class="page-item"><a class="page-link">Dernier</a></li>

    </ul>

</nav>