<h5 class="font-weight-bold mt-0 ml-1"><strong><i class="fas fa-map-marked-alt"></i> VILLES</strong></h5>
<hr class="red title-hr mt-0">

<ul class="list-group z-depth-1">

    <li class="list-group-item d-flex justify-content-between align-items-center">
        <a class="font-weight-bold" style="font-size:0.9rem">Business</a>
        <span class="badge badge-danger badge-pill">4</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
        <a class="font-weight-bold" style="font-size:0.9rem">Entertainment</a>
        <span class="badge badge-danger badge-pill">2</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
        <a class="font-weight-bold" style="font-size:0.9rem">Health</a>
        <span class="badge badge-danger badge-pill">1</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
        <a class="font-weight-bold" style="font-size:0.9rem">Lifestyle</a>
        <span class="badge badge-danger badge-pill">2</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
        <a class="font-weight-bold" style="font-size:0.9rem">Photography</a>
        <span class="badge badge-danger badge-pill">1</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
        <a class="font-weight-bold" style="font-size:0.9rem">Technology</a>
        <span class="badge badge-danger badge-pill">2</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
        <a class="font-weight-bold" style="font-size:0.9rem">Config</a>
        <span class="badge badge-danger badge-pill">5</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
        <a class="font-weight-bold" style="font-size:0.9rem">Sidi bel Abbes</a>
        <span class="badge badge-danger badge-pill">5</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
        <a class="font-weight-bold" style="font-size:0.9rem">Lifestyle</a>
        <span class="badge badge-danger badge-pill">2</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
        <a class="font-weight-bold" style="font-size:0.9rem">Photography</a>
        <span class="badge badge-danger badge-pill">1</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
        <a class="font-weight-bold" style="font-size:0.9rem">Telemcen</a>
        <span class="badge badge-danger badge-pill">1</span>
    </li>

</ul>