<h5 class="font-weight-bold mt-0 ml-1"><strong><i class="fas fa-map-marked-alt"></i> VILLES</strong></h5>
<hr class="red title-hr mt-0">

<div class="ville z-depth-1 scrollbar-danger thin">

    <ul class="list-group">

        <li class="list-group-item d-flex justify-content-between align-items-center">
            <a href="http://google.com/?q=Adrar" class="font-weight-bold black-text" id="list-Adrar" style="font-size:0.9rem">1 -&nbsp; Adrar</a>
            <span class="badge badge-danger badge-pill">4</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <a href="http://google.com/?q=Chlef" class="font-weight-bold black-text" id="list-Chlef" style="font-size:0.9rem">2 -&nbsp; Chlef</a>
            <span class="badge badge-danger badge-pill">2</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <a href="http://google.com/?q=Laghouat" class="font-weight-bold black-text" id="list-Laghouat" style="font-size:0.9rem">3 -&nbsp; Laghouat</a>
            <span class="badge badge-danger badge-pill">1</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <a href="http://google.com/?q=Oum el Bouaghi" class="font-weight-bold black-text" id="list-Oum-el-Bouaghi" style="font-size:0.9rem">4 -&nbsp; Oum el Bouaghi</a>
            <span class="badge badge-danger badge-pill">2</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <a href="http://google.com/?q=Batna" class="font-weight-bold black-text" id="list-Batna" style="font-size:0.9rem">5 -&nbsp; Batna</a>
            <span class="badge badge-danger badge-pill">1</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <a href="http://google.com/?q=Béjaïa" class="font-weight-bold black-text" id="list-Béjaïa" style="font-size:0.9rem">6 -&nbsp; Bejaia</a>
            <span class="badge badge-danger badge-pill">2</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <a href="http://google.com/?q=Biskra" class="font-weight-bold black-text" id="list-Biskra" style="font-size:0.9rem">7 -&nbsp; Biskra</a>
            <span class="badge badge-danger badge-pill">5</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <a href="http://google.com/?q=Béchar" class="font-weight-bold black-text" id="list-Béchar" style="font-size:0.9rem">8 -&nbsp; Bechar</a>
            <span class="badge badge-danger badge-pill">5</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <a href="http://google.com/?q=Blida" class="font-weight-bold black-text" id="list-Blida" style="font-size:0.9rem">9 -&nbsp; Blida</a>
            <span class="badge badge-danger badge-pill">2</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <a href="http://google.com/?q=Bouira" class="font-weight-bold black-text" id="list-Bouira" style="font-size:0.9rem">10 -&nbsp; Bouira</a>
            <span class="badge badge-danger badge-pill">1</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <a href="http://google.com/?q=Tamanghasset" class="font-weight-bold black-text" id="list-Tamanghasset" style="font-size:0.9rem">11 -&nbsp; Tamanghasset</a>
            <span class="badge badge-danger badge-pill">1</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <a href="http://google.com/?q=Tébessa" class="font-weight-bold black-text" id="list-Tébessa" style="font-size:0.9rem">12 -&nbsp; Tebessa</a>
            <span class="badge badge-danger badge-pill">1</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <a href="http://google.com/?q=Tlemcen" class="font-weight-bold black-text" id="list-Tlemcen" style="font-size:0.9rem">13 -&nbsp; Telemcen</a>
            <span class="badge badge-danger badge-pill">4</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <a href="http://google.com/?q=Tiaret" class="font-weight-bold black-text" id="list-Tiaret" style="font-size:0.9rem">14 -&nbsp; Tiaret</a>
            <span class="badge badge-danger badge-pill">2</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <a href="http://google.com/?q=Tizi Ouzou" class="font-weight-bold black-text" id="list-Tizi-Ouzou" style="font-size:0.9rem">15 -&nbsp; Tizi Ouzou</a>
            <span class="badge badge-danger badge-pill">1</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <a href="http://google.com/?q=Alger" class="font-weight-bold black-text" id="list-Alger" style="font-size:0.9rem">16 -&nbsp; Alger</a>
            <span class="badge badge-danger badge-pill">2</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <a href="http://google.com/?q=Djelfa" class="font-weight-bold black-text" id="list-Djelfa" style="font-size:0.9rem">17 -&nbsp; Djelfa</a>
            <span class="badge badge-danger badge-pill">1</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <a href="http://google.com/?q=Jijel" class="font-weight-bold black-text" id="list-Jijel" style="font-size:0.9rem">18 -&nbsp; Jijel</a>
            <span class="badge badge-danger badge-pill">2</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <a href="http://google.com/?q=Sétif" class="font-weight-bold black-text" id="list-Sétif" style="font-size:0.9rem">19 -&nbsp; Sétif</a>
            <span class="badge badge-danger badge-pill">5</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <a href="http://google.com/?q=Saïda" class="font-weight-bold black-text" id="list-Saïda" style="font-size:0.9rem">20 -&nbsp; Saïda</a>
            <span class="badge badge-danger badge-pill">5</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <a href="http://google.com/?q=Skikda" class="font-weight-bold black-text" id="list-Skikda" style="font-size:0.9rem">21 -&nbsp; Skikda</a>
            <span class="badge badge-danger badge-pill">2</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <a href="http://google.com/?q=Sidi Bel Abbès" class="font-weight-bold black-text" id="list-Sidi-Bel-Abbès" style="font-size:0.9rem">22 -&nbsp; SIDI BEL ABBES</a>
            <span class="badge badge-danger badge-pill">1</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <a href="http://google.com/?q=Annaba" class="font-weight-bold black-text" id="list-Annaba" style="font-size:0.9rem">23 -&nbsp; Annaba</a>
            <span class="badge badge-danger badge-pill">1</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <a href="http://google.com/?q=Guelma" class="font-weight-bold black-text" id="list-Guelma" style="font-size:0.9rem">24 -&nbsp; Guelma</a>
            <span class="badge badge-danger badge-pill">1</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <a href="http://google.com/?q=Constantine" class="font-weight-bold black-text" id="list-Constantine" style="font-size:0.9rem">25 -&nbsp; Constantine</a>
            <span class="badge badge-danger badge-pill">4</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <a href="http://google.com/?q=Médéa" class="font-weight-bold black-text" id="list-Médéa" style="font-size:0.9rem">26 -&nbsp; Médéa</a>
            <span class="badge badge-danger badge-pill">2</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <a href="http://google.com/?q=Mostaganem" class="font-weight-bold black-text" id="list-Mostaganem" style="font-size:0.9rem">27 -&nbsp; Mostaganem</a>
            <span class="badge badge-danger badge-pill">1</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <a href="http://google.com/?q=Msila" class="font-weight-bold black-text" id="list-Msila" style="font-size:0.9rem">28 -&nbsp; Msila</a>
            <span class="badge badge-danger badge-pill">2</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <a href="http://google.com/?q=Mascara" class="font-weight-bold black-text" id="list-Mascara" style="font-size:0.9rem">29 -&nbsp; Mascara</a>
            <span class="badge badge-danger badge-pill">1</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <a href="http://google.com/?q=Ouargla" class="font-weight-bold black-text" id="list-Ouargla" style="font-size:0.9rem">30 -&nbsp; Ouargla</a>
            <span class="badge badge-danger badge-pill">2</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <a href="http://google.com/?q=Oran" class="font-weight-bold black-text" id="list-Oran" style="font-size:0.9rem">31 -&nbsp; Oran</a>
            <span class="badge badge-danger badge-pill">5</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <a href="http://google.com/?q=El Bayadh" class="font-weight-bold black-text" id="list-El-Bayadh" style="font-size:0.9rem">32 -&nbsp; El Bayadh</a>
            <span class="badge badge-danger badge-pill">5</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <a href="http://google.com/?q=Illizi" class="font-weight-bold black-text" id="list-Illizi" style="font-size:0.9rem">33 -&nbsp; Illizi</a>
            <span class="badge badge-danger badge-pill">2</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <a href="http://google.com/?q=Bordj Bou Arréridj" class="font-weight-bold black-text" id="list-Bordj-Bou-Arréridj" style="font-size:0.9rem">34 -&nbsp; Bordj Bou Arréridj</a>
            <span class="badge badge-danger badge-pill">1</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <a href="http://google.com/?q=Boumerdès" class="font-weight-bold black-text" id="list-Boumerdès" style="font-size:0.9rem">35 -&nbsp; Boumerdès</a>
            <span class="badge badge-danger badge-pill">1</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <a href="http://google.com/?q=El Tarf" class="font-weight-bold black-text" id="list-El-Tarf" style="font-size:0.9rem">36 -&nbsp; El Tarf</a>
            <span class="badge badge-danger badge-pill">1</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <a href="http://google.com/?q=Tindouf" class="font-weight-bold black-text" id="list-Tindouf" style="font-size:0.9rem">37 -&nbsp; Tindouf</a>
            <span class="badge badge-danger badge-pill">4</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <a href="http://google.com/?q=Tissemsilt" class="font-weight-bold black-text" id="list-Tissemsilt" style="font-size:0.9rem">38 -&nbsp; Tissemsilt</a>
            <span class="badge badge-danger badge-pill">2</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <a href="http://google.com/?q=El Oued" class="font-weight-bold black-text" id="list-El-Oued" style="font-size:0.9rem">39 -&nbsp; El Oued</a>
            <span class="badge badge-danger badge-pill">1</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <a href="http://google.com/?q=Khenchela" class="font-weight-bold black-text" id="list-Khenchela" style="font-size:0.9rem">40 -&nbsp; Khenchela</a>
            <span class="badge badge-danger badge-pill">2</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <a href="http://google.com/?q=Souk Ahras" class="font-weight-bold black-text" id="list-Souk-Ahras" style="font-size:0.9rem">41 -&nbsp; Souk-Ahras</a>
            <span class="badge badge-danger badge-pill">1</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <a href="http://google.com/?q=Tipaza" class="font-weight-bold black-text" id="list-Tipaza" style="font-size:0.9rem">42 -&nbsp; Tipaza</a>
            <span class="badge badge-danger badge-pill">2</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <a href="http://google.com/?q=Mila" class="font-weight-bold black-text" id="list-Mila" style="font-size:0.9rem">43 -&nbsp; Mila</a>
            <span class="badge badge-danger badge-pill">5</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <a href="http://google.com/?q=Aïn Defla" class="font-weight-bold black-text" id="list-Aïn-Defla" style="font-size:0.9rem">44 -&nbsp; Aïn Defla</a>
            <span class="badge badge-danger badge-pill">5</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <a href="http://google.com/?q=Naama" class="font-weight-bold black-text" id="list-Naama" style="font-size:0.9rem">45 -&nbsp; Naama</a>
            <span class="badge badge-danger badge-pill">2</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <a href="http://google.com/?q=Aïn Témouchent" class="font-weight-bold black-text" id="list-Aïn-Témouchent" style="font-size:0.9rem">46 -&nbsp; Aïn Témouchent</a>
            <span class="badge badge-danger badge-pill">1</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <a href="http://google.com/?q=Ghardaïa" class="font-weight-bold black-text" id="list-Ghardaïa" style="font-size:0.9rem">47 -&nbsp; Ghardaïa</a>
            <span class="badge badge-danger badge-pill">1</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <a href="http://google.com/?q=Relizane" class="font-weight-bold black-text" id="list-Relizane" style="font-size:0.9rem">48 -&nbsp; Relizane</a>
            <span class="badge badge-danger badge-pill">1</span>
        </li>

    </ul>

</div>