<!-- Editable table -->
<div class="card">
    
    <div class="card-body p-2">

        <div id="table" class="table-editable table-responsive">

            <span class="table-add float-right font-weight-bold my-2 mr-2"><a href="#!" class="text-success"><i class="fa fa-plus mr-2"></i>Ajouter Une Annonce</a></span>

            <table class="table table-borderless table-striped text-center mb-0">

                <tr>
                    <th class="text-center font-weight-bold">Name</th>
                    <th class="text-center font-weight-bold">Status</th>
                    <th class="text-center font-weight-bold">Categorie</th>
                    <th class="text-center font-weight-bold">Ville</th>
                    <th class="d-none d-sm-none d-md-none d-lg-block text-center font-weight-bold">Description</th>
                    <th class="text-center font-weight-bold">Consulter</th>
                    <th class="text-center font-weight-bold">Modifier</th>
                    <th class="text-center font-weight-bold">Supprimer</th>
                </tr>

                <!-- This is our clonable table line -->
                <tr>
                    <td>galaxy S6 edge plus</td>
                    <td class="green-text">Offre</td>
                    <td>Téléphonie</td>
                    <td>Sidi Bel Abbes</td>
                    <td class="d-none d-sm-none d-md-none d-lg-block">
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore.
                    </td>
                    <td>
                        <a href="#" class="text-info ml-3"><i class="far fa-list-alt fa-lg"></i></a>
                    </td>
                    <td>
                        <a href="#" class="text-warning ml-3"><i class="fas fa-edit fa-lg"></i></a>
                    </td>
                    <td>
                        <a href="#" class="text-danger ml-3"><i class="fas fa-trash-alt fa-lg"></i></a>
                    </td>
                </tr>
                <!-- This is our clonable table line -->
                <tr>
                    <td>OPPO F9</td>
                    <td class="green-text">Offre</td>
                    <td>Téléphonie</td>
                    <td>Ain Temouchent</td>
                    <td class="d-none d-sm-none d-md-none d-lg-block">
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore.
                    </td>
                    <td>
                        <a href="#" class="text-info ml-3"><i class="far fa-list-alt fa-lg"></i></a>
                    </td>
                    <td>
                        <a href="#" class="text-warning ml-3"><i class="fas fa-edit fa-lg"></i></a>
                    </td>
                    <td>
                        <a href="#" class="text-danger ml-3"><i class="fas fa-trash-alt fa-lg"></i></a>
                    </td>
                </tr>
                <!-- This is our clonable table line -->
                <tr>
                    <td>Hwawai Mate 9 Pro </td>
                    <td class="red-text">Demande</td>
                    <td>Téléphonie</td>
                    <td>Sidi Bel Abbes</td>
                    <td class="d-none d-sm-none d-md-none d-lg-block">
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore.
                    </td>
                    <td>
                        <a href="#" class="text-info ml-3"><i class="far fa-list-alt fa-lg"></i></a>
                    </td>
                    <td>
                        <a href="#" class="text-warning ml-3"><i class="fas fa-edit fa-lg"></i></a>
                    </td>
                    <td>
                        <a href="#" class="text-danger ml-3"><i class="fas fa-trash-alt fa-lg"></i></a>
                    </td>
                </tr>
                <!-- This is our clonable table line -->
                <tr>
                    <td>Renault Clio 4</td>
                    <td class="red-text">Demande</td>
                    <td>Automobile</td>
                    <td>Telemcen</td>
                    <td class="d-none d-sm-none d-md-none d-lg-block">
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore.
                    </td>
                    <td>
                        <a href="#" class="text-info ml-3"><i class="far fa-list-alt fa-lg"></i></a>
                    </td>
                    <td>
                        <a href="#" class="text-warning ml-3"><i class="fas fa-edit fa-lg"></i></a>
                    </td>
                    <td>
                        <a href="#" class="text-danger ml-3"><i class="fas fa-trash-alt fa-lg"></i></a>
                    </td>
                </tr>
                <!-- This is our clonable table line -->
                <tr>
                    <td>Festina Tour de france</td>
                    <td class="green-text">Offre</td>
                    <td>Mode</td>
                    <td>Oran</td>
                    <td class="d-none d-sm-none d-md-none d-lg-block">
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore.
                    </td>
                    <td>
                        <a href="#" class="text-info ml-3"><i class="far fa-list-alt fa-lg"></i></a>
                    </td>
                    <td>
                        <a href="#" class="text-warning ml-3"><i class="fas fa-edit fa-lg"></i></a>
                    </td>
                    <td>
                        <a href="#" class="text-danger ml-3"><i class="fas fa-trash-alt fa-lg"></i></a>
                    </td>
                </tr>
                <!-- This is our clonable table line -->
                <tr>
                    <td>Appartement F3</td>
                    <td class="red-text">Demande</td>
                    <td>Immobilier</td>
                    <td>Sidi Bel Abbes</td>
                    <td class="d-none d-sm-none d-md-none d-lg-block">
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore.
                    </td>
                    <td>
                        <a href="#" class="text-info ml-3"><i class="far fa-list-alt fa-lg"></i></a>
                    </td>
                    <td>
                        <a href="#" class="text-warning ml-3"><i class="fas fa-edit fa-lg"></i></a>
                    </td>
                    <td>
                        <a href="#" class="text-danger ml-3"><i class="fas fa-trash-alt fa-lg"></i></a>
                    </td>
                </tr>
                <!-- This is our clonable table line -->
                <tr>
                    <td>Playstation 4</td>
                    <td class="red-text">Demande</td>
                    <td>Loisirs</td>
                    <td>Saida</td>
                    <td class="d-none d-sm-none d-md-none d-lg-block">
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore.
                    </td>
                    <td>
                        <a href="#" class="text-info ml-3"><i class="far fa-list-alt fa-lg"></i></a>
                    </td>
                    <td>
                        <a href="#" class="text-warning ml-3"><i class="fas fa-edit fa-lg"></i></a>
                    </td>
                    <td>
                        <a href="#" class="text-danger ml-3"><i class="fas fa-trash-alt fa-lg"></i></a>
                    </td>
                </tr>
                <!-- This is our clonable table line -->
                <tr>
                    <td>Iphone 6s Plus</td>
                    <td class="green-text">Offre</td>
                    <td>Téléphonie</td>
                    <td>Oran</td>
                    <td class="d-none d-sm-none d-md-none d-lg-block">
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore.
                    </td>
                    <td>
                        <a href="#" class="text-info ml-3"><i class="far fa-list-alt fa-lg"></i></a>
                    </td>
                    <td>
                        <a href="#" class="text-warning ml-3"><i class="fas fa-edit fa-lg"></i></a>
                    </td>
                    <td>
                        <a href="#" class="text-danger ml-3"><i class="fas fa-trash-alt fa-lg"></i></a>
                    </td>
                </tr>

            </table>

        </div>

    </div>

</div>
<!-- Editable table -->