<!-- Editable table -->
<div class="card">
    
    <div class="card-body p-2">

        <div id="table" class="table-editable table-responsive py-1">

            <span class="table-add float-right font-weight-bold my-2 mr-2"><a href="/product/add" class="text-success"><i class="fa fa-plus mr-2"></i>Ajouter Un Produit</a></span>

            <table class="table table-borderless table-striped text-center mb-0">

                <tr>
                    <th class="d-none d-sm-none d-md-none d-lg-block text-center font-weight-bold">Image</th>
                    <th class="text-center font-weight-bold">Name</th>
                    <th class="d-none d-sm-none d-md-none d-lg-block text-center font-weight-bold">Price</th>
                    <th class="text-center font-weight-bold">Categorie</th>
                    <th class="text-center font-weight-bold">Ville</th>
                    <th class="text-center font-weight-bold">Consulter</th>
                    <th class="text-center font-weight-bold">Modifier</th>
                    <th class="text-center font-weight-bold">Supprimer</th>
                </tr>

                <!-- This is our clonable table line -->
                <tr>
                    <td class="d-none d-sm-none d-md-none d-lg-block py-2 px-1">
                        <img src="https://mdbootstrap.com/img/Photos/Horizontal/Food/full page/1.jpg" height="40px" alt="img">
                    </td>
                    <td>galaxy S6 edge plus</td>
                    <td class="d-none d-sm-none d-md-none d-lg-block">6 7000 DA</td>
                    <td>Téléphonie</td>
                    <td>Sidi Bel Abbes</td>
                    <td>
                        <a href="#" class="text-info ml-3"><i class="far fa-list-alt fa-lg"></i></a>
                    </td>
                    <td>
                        <a href="#" class="text-warning ml-3"><i class="fas fa-edit fa-lg"></i></a>
                    </td>
                    <td>
                        <a href="#" class="text-danger ml-3"><i class="fas fa-trash-alt fa-lg"></i></a>
                    </td>
                </tr>
                <!-- This is our clonable table line -->
                <tr>
                    <td class="d-none d-sm-none d-md-none d-lg-block py-2 px-1">
                        <img src="https://mdbootstrap.com/img/Photos/Horizontal/Food/full page/2.jpg" height="40px" alt="img">
                    </td>
                    <td>OPPO F9</td>
                    <td class="d-none d-sm-none d-md-none d-lg-block">4 5500 DA</td>
                    <td>Téléphonie</td>
                    <td>Ain Temouchent</td>
                    <td>
                        <a href="#" class="text-info ml-3"><i class="far fa-list-alt fa-lg"></i></a>
                    </td>
                    <td>
                        <a href="#" class="text-warning ml-3"><i class="fas fa-edit fa-lg"></i></a>
                    </td>
                    <td>
                        <a href="#" class="text-danger ml-3"><i class="fas fa-trash-alt fa-lg"></i></a>
                    </td>
                </tr>
                <!-- This is our clonable table line -->
                <tr>
                    <td class="d-none d-sm-none d-md-none d-lg-block py-2 px-1">
                        <img src="https://mdbootstrap.com/img/Photos/Horizontal/Food/full page/3.jpg" height="40px" alt="img">
                    </td>
                    <td>Hwawai Mate 9 Pro </td>
                    <td class="d-none d-sm-none d-md-none d-lg-block">70 000 DA</td>
                    <td>Téléphonie</td>
                    <td>Sidi Bel Abbes</td>
                    <td>
                        <a href="#" class="text-info ml-3"><i class="far fa-list-alt fa-lg"></i></a>
                    </td>
                    <td>
                        <a href="#" class="text-warning ml-3"><i class="fas fa-edit fa-lg"></i></a>
                    </td>
                    <td>
                        <a href="#" class="text-danger ml-3"><i class="fas fa-trash-alt fa-lg"></i></a>
                    </td>
                </tr>
                <!-- This is our clonable table line -->
                <tr>
                    <td class="d-none d-sm-none d-md-none d-lg-block py-2 px-1">
                        <img src="https://mdbootstrap.com/img/Photos/Horizontal/Food/full page/4.jpg" height="40px" alt="img">
                    </td>
                    <td>Renault Clio 4</td>
                    <td class="d-none d-sm-none d-md-none d-lg-block">1 220 000 DA</td>
                    <td>Automobile</td>
                    <td>Telemcen</td>
                    <td>
                        <a href="#" class="text-info ml-3"><i class="far fa-list-alt fa-lg"></i></a>
                    </td>
                    <td>
                        <a href="#" class="text-warning ml-3"><i class="fas fa-edit fa-lg"></i></a>
                    </td>
                    <td>
                        <a href="#" class="text-danger ml-3"><i class="fas fa-trash-alt fa-lg"></i></a>
                    </td>
                </tr>
                <!-- This is our clonable table line -->
                <tr>
                    <td class="d-none d-sm-none d-md-none d-lg-block py-2 px-1">
                        <img src="https://mdbootstrap.com/img/Photos/Horizontal/Food/full page/5.jpg" height="40px" alt="img">
                    </td>
                    <td>Festina Tour de france</td>
                    <td class="d-none d-sm-none d-md-none d-lg-block">3 2000 DA</td>
                    <td>Mode</td>
                    <td>Oran</td>
                    <td>
                        <a href="#" class="text-info ml-3"><i class="far fa-list-alt fa-lg"></i></a>
                    </td>
                    <td>
                        <a href="#" class="text-warning ml-3"><i class="fas fa-edit fa-lg"></i></a>
                    </td>
                    <td>
                        <a href="#" class="text-danger ml-3"><i class="fas fa-trash-alt fa-lg"></i></a>
                    </td>
                </tr>
                <!-- This is our clonable table line -->
                <tr>
                    <td class="d-none d-sm-none d-md-none d-lg-block py-2 px-1">
                        <img src="https://mdbootstrap.com/img/Photos/Horizontal/Food/full page/6.jpg" height="40px" alt="img">
                    </td>
                    <td>Appartement F3</td>
                    <td class="d-none d-sm-none d-md-none d-lg-block">4 550 000 DA</td>
                    <td>Immobilier</td>
                    <td>Sidi Bel Abbes</td>
                    <td>
                        <a href="#" class="text-info ml-3"><i class="far fa-list-alt fa-lg"></i></a>
                    </td>
                    <td>
                        <a href="#" class="text-warning ml-3"><i class="fas fa-edit fa-lg"></i></a>
                    </td>
                    <td>
                        <a href="#" class="text-danger ml-3"><i class="fas fa-trash-alt fa-lg"></i></a>
                    </td>
                </tr>
                <!-- This is our clonable table line -->
                <tr>
                    <td class="d-none d-sm-none d-md-none d-lg-block py-2 px-1">
                        <img src="https://mdbootstrap.com/img/Photos/Horizontal/Food/full page/7.jpg" height="40px" alt="img">
                    </td>
                    <td>Playstation 4</td>
                    <td class="d-none d-sm-none d-md-none d-lg-block">2 8000 DA</td>
                    <td>Loisirs</td>
                    <td>Saida</td>
                    <td>
                        <a href="#" class="text-info ml-3"><i class="far fa-list-alt fa-lg"></i></a>
                    </td>
                    <td>
                        <a href="#" class="text-warning ml-3"><i class="fas fa-edit fa-lg"></i></a>
                    </td>
                    <td>
                        <a href="#" class="text-danger ml-3"><i class="fas fa-trash-alt fa-lg"></i></a>
                    </td>
                </tr>
                <!-- This is our clonable table line -->
                <tr>
                    <td class="d-none d-sm-none d-md-none d-lg-block py-2 px-1">
                        <img src="https://mdbootstrap.com/img/Photos/Horizontal/Food/full page/8.jpg" height="40px" alt="img">
                    </td>
                    <td>Iphone 6s Plus</td>
                    <td class="d-none d-sm-none d-md-none d-lg-block">6 2000 DA</td>
                    <td>Téléphonie</td>
                    <td>Oran</td>
                    <td>
                        <a href="#" class="text-info ml-3"><i class="far fa-list-alt fa-lg"></i></a>
                    </td>
                    <td>
                        <a href="#" class="text-warning ml-3"><i class="fas fa-edit fa-lg"></i></a>
                    </td>
                    <td>
                        <a href="#" class="text-danger ml-3"><i class="fas fa-trash-alt fa-lg"></i></a>
                    </td>
                </tr>

            </table>

        </div>

    </div>

</div>
<!-- Editable table -->