<!-- Editable table -->
<div class="card">

    <div class="card-body p-2">

        <div id="table" class="table-editable table-responsive py-1">

            <span class="table-add float-right font-weight-bold my-2 mr-2"><a href="/shop/add" class="text-success"><i class="fa fa-plus mr-2"></i>Ajouter Une Boutique</a></span>

            <table class="table table-borderless table-striped text-center mb-0">

                <tr>
                    <th class="d-none d-sm-none d-md-none d-lg-block text-center font-weight-bold">Image</th>
                    <th class="text-center font-weight-bold">Name</th>
                    <th class="d-none d-sm-none d-md-none d-lg-block text-center font-weight-bold">Rating</th>
                    <th class="text-center font-weight-bold">Categorie</th>
                    <th class="text-center font-weight-bold">Ville</th>
                    <th class="text-center font-weight-bold">Consulter</th>
                    <th class="text-center font-weight-bold">Modifier</th>
                    <th class="text-center font-weight-bold">Supprimer</th>
                </tr>

                <!-- This is our clonable table line -->
                <tr>
                    <td class="d-none d-sm-none d-md-none d-lg-block py-2 px-1">
                        <img src="https://mdbootstrap.com/img/Photos/Horizontal/Food/full page/1.jpg" height="40px" alt="img">
                    </td>
                    <td>Samsung</td>
                    <td class="d-none d-sm-none d-md-none d-lg-block" class="d-none d-sm-none d-md-none d-lg-block">
                        <ul class="list-unstyled list-inline rating mb-0">
                            <li class="list-inline-item mr-0"><i class="fas fa-star"></i></li>
                            <li class="list-inline-item mr-0"><i class="fas fa-star"></i></li>
                            <li class="list-inline-item mr-0"><i class="fas fa-star"></i></li>
                            <li class="list-inline-item mr-0"><i class="fas fa-star"></i></li>
                            <li class="list-inline-item mr-0"><i class="fas fa-star-half-alt"></i></li>
                            <li class="list-inline-item"><p class="text-muted mb-0">4.5 (413)</p></li>
                        </ul>
                    </td>
                    <td>Téléphonie</td>
                    <td>Sidi Bel Abbes</td>
                    <td>
                        <a href="#" class="text-info ml-3"><i class="far fa-list-alt fa-lg"></i></a>
                    </td>
                    <td>
                        <a href="#" class="text-warning ml-3"><i class="fas fa-edit fa-lg"></i></a>
                    </td>
                    <td>
                        <a href="#" class="text-danger ml-3"><i class="fas fa-trash-alt fa-lg"></i></a>
                    </td>
                </tr>
                <!-- This is our clonable table line -->
                <tr>
                    <td class="d-none d-sm-none d-md-none d-lg-block py-2 px-1">
                        <img src="https://mdbootstrap.com/img/Photos/Horizontal/Food/full page/2.jpg" height="40px" alt="img">
                    </td>
                    <td>Nike</td>
                    <td class="d-none d-sm-none d-md-none d-lg-block">
                        <ul class="list-unstyled list-inline rating mb-0">
                            <li class="list-inline-item mr-0"><i class="fas fa-star"></i></li>
                            <li class="list-inline-item mr-0"><i class="fas fa-star"></i></li>
                            <li class="list-inline-item mr-0"><i class="fas fa-star"></i></li>
                            <li class="list-inline-item mr-0"><i class="far fa-star"></i></li>
                            <li class="list-inline-item mr-0"><i class="far fa-star"></i></li>
                            <li class="list-inline-item"><p class="text-muted mb-0">3.0 (217)</p></li>
                        </ul>
                    </td>
                    <td>Mode</td>
                    <td>Sidi Bel Abbes</td>
                    <td>
                        <a href="#" class="text-info ml-3"><i class="far fa-list-alt fa-lg"></i></a>
                    </td>
                    <td>
                        <a href="#" class="text-warning ml-3"><i class="fas fa-edit fa-lg"></i></a>
                    </td>
                    <td>
                        <a href="#" class="text-danger ml-3"><i class="fas fa-trash-alt fa-lg"></i></a>
                    </td>
                </tr>
                <!-- This is our clonable table line -->
                <tr>
                    <td class="d-none d-sm-none d-md-none d-lg-block py-2 px-1">
                        <img src="https://mdbootstrap.com/img/Photos/Horizontal/Food/full page/3.jpg" height="40px" alt="img">
                    </td>
                    <td>Iphone</td>
                    <td class="d-none d-sm-none d-md-none d-lg-block">
                        <ul class="list-unstyled list-inline rating mb-0">
                            <li class="list-inline-item mr-0"><i class="fas fa-star"></i></li>
                            <li class="list-inline-item mr-0"><i class="fas fa-star-half-alt"></i></li>
                            <li class="list-inline-item mr-0"><i class="far fa-star"></i></li>
                            <li class="list-inline-item mr-0"><i class="far fa-star"></i></li>
                            <li class="list-inline-item mr-0"><i class="far fa-star"></i></li>
                            <li class="list-inline-item"><p class="text-muted mb-0">1.5 (139)</p></li>
                        </ul>
                    </td>
                    <td>Téléphonie</td>
                    <td>Sidi Bel Abbes</td>
                    <td>
                        <a href="#" class="text-info ml-3"><i class="far fa-list-alt fa-lg"></i></a>
                    </td>
                    <td>
                        <a href="#" class="text-warning ml-3"><i class="fas fa-edit fa-lg"></i></a>
                    </td>
                    <td>
                        <a href="#" class="text-danger ml-3"><i class="fas fa-trash-alt fa-lg"></i></a>
                    </td>
                </tr>
                <!-- This is our clonable table line -->
                <tr>
                    <td class="d-none d-sm-none d-md-none d-lg-block py-2 px-1">
                        <img src="https://mdbootstrap.com/img/Photos/Horizontal/Food/full page/4.jpg" height="40px" alt="img">
                    </td>
                    <td>Addidas</td>
                    <td class="d-none d-sm-none d-md-none d-lg-block">
                        <ul class="list-unstyled list-inline rating mb-0">
                            <li class="list-inline-item mr-0"><i class="fas fa-star"></i></li>
                            <li class="list-inline-item mr-0"><i class="far fa-star"></i></li>
                            <li class="list-inline-item mr-0"><i class="far fa-star"></i></li>
                            <li class="list-inline-item mr-0"><i class="far fa-star"></i></li>
                            <li class="list-inline-item mr-0"><i class="far fa-star"></i></li>
                            <li class="list-inline-item"><p class="text-muted mb-0">1.0 (125)</p></li>
                        </ul>
                    </td>
                    <td>Mode</td>
                    <td>Oran</td>
                    <td>
                        <a href="#" class="text-info ml-3"><i class="far fa-list-alt fa-lg"></i></a>
                    </td>
                    <td>
                        <a href="#" class="text-warning ml-3"><i class="fas fa-edit fa-lg"></i></a>
                    </td>
                    <td>
                        <a href="#" class="text-danger ml-3"><i class="fas fa-trash-alt fa-lg"></i></a>
                    </td>
                </tr>
                <!-- This is our clonable table line -->
                <tr>
                    <td class="d-none d-sm-none d-md-none d-lg-block py-2 px-1">
                        <img src="https://mdbootstrap.com/img/Photos/Horizontal/Food/full page/5.jpg" height="40px" alt="img">
                    </td>
                    <td>Lacoste</td>
                    <td class="d-none d-sm-none d-md-none d-lg-block">
                        <ul class="list-unstyled list-inline rating mb-0">
                            <li class="list-inline-item mr-0"><i class="fas fa-star"></i></li>
                            <li class="list-inline-item mr-0"><i class="fas fa-star"></i></li>
                            <li class="list-inline-item mr-0"><i class="fas fa-star"></i></li>
                            <li class="list-inline-item mr-0"><i class="fas fa-star"></i></li>
                            <li class="list-inline-item mr-0"><i class="fas fa-star"></i></li>
                            <li class="list-inline-item"><p class="text-muted mb-0">5.0 (13)</p></li>
                        </ul>
                    </td>
                    <td>Mode</td>
                    <td>Oran</td>
                    <td>
                        <a href="#" class="text-info ml-3"><i class="far fa-list-alt fa-lg"></i></a>
                    </td>
                    <td>
                        <a href="#" class="text-warning ml-3"><i class="fas fa-edit fa-lg"></i></a>
                    </td>
                    <td>
                        <a href="#" class="text-danger ml-3"><i class="fas fa-trash-alt fa-lg"></i></a>
                    </td>
                </tr>
                <!-- This is our clonable table line -->
                <tr>
                    <td class="d-none d-sm-none d-md-none d-lg-block py-2 px-1">
                        <img src="https://mdbootstrap.com/img/Photos/Horizontal/Food/full page/6.jpg" height="40px" alt="img">
                    </td>
                    <td>Renault</td>
                    <td class="d-none d-sm-none d-md-none d-lg-block">
                        <ul class="list-unstyled list-inline rating mb-0">
                            <li class="list-inline-item mr-0"><i class="fas fa-star"></i></li>
                            <li class="list-inline-item mr-0"><i class="fas fa-star"></i></li>
                            <li class="list-inline-item mr-0"><i class="fas fa-star"></i></li>
                            <li class="list-inline-item mr-0"><i class="fas fa-star-half-alt"></i></li>
                            <li class="list-inline-item mr-0"><i class="far fa-star"></i></li>
                            <li class="list-inline-item"><p class="text-muted mb-0">3.5 (324)</p></li>
                        </ul>
                    </td>
                    <td>Automobile</td>
                    <td>Sidi Bel Abbes</td>
                    <td>
                        <a href="#" class="text-info ml-3"><i class="far fa-list-alt fa-lg"></i></a>
                    </td>
                    <td>
                        <a href="#" class="text-warning ml-3"><i class="fas fa-edit fa-lg"></i></a>
                    </td>
                    <td>
                        <a href="#" class="text-danger ml-3"><i class="fas fa-trash-alt fa-lg"></i></a>
                    </td>
                </tr>
                <!-- This is our clonable table line -->
                <tr>
                    <td class="d-none d-sm-none d-md-none d-lg-block py-2 px-1">
                        <img src="https://mdbootstrap.com/img/Photos/Horizontal/Food/full page/7.jpg" height="40px" alt="img">
                    </td>
                    <td>Bora Bora</td>
                    <td class="d-none d-sm-none d-md-none d-lg-block">
                        <ul class="list-unstyled list-inline rating mb-0">
                            <li class="list-inline-item mr-0"><i class="fas fa-star-half-alt"></i></li>
                            <li class="list-inline-item mr-0"><i class="far fa-star"></i></li>
                            <li class="list-inline-item mr-0"><i class="far fa-star"></i></li>
                            <li class="list-inline-item mr-0"><i class="far fa-star"></i></li>
                            <li class="list-inline-item mr-0"><i class="far fa-star"></i></li>
                            <li class="list-inline-item"><p class="text-muted mb-0">0.5 (1)</p></li>
                        </ul>
                    </td>
                    <td>Pizziria</td>
                    <td>Telemcen</td>
                    <td>
                        <a href="#" class="text-info ml-3"><i class="far fa-list-alt fa-lg"></i></a>
                    </td>
                    <td>
                        <a href="#" class="text-warning ml-3"><i class="fas fa-edit fa-lg"></i></a>
                    </td>
                    <td>
                        <a href="#" class="text-danger ml-3"><i class="fas fa-trash-alt fa-lg"></i></a>
                    </td>
                </tr>
                <!-- This is our clonable table line -->
                <tr>
                    <td class="d-none d-sm-none d-md-none d-lg-block py-2 px-1">
                        <img src="https://mdbootstrap.com/img/Photos/Horizontal/Food/full page/8.jpg" height="40px" alt="img">
                    </td>
                    <td>Restaurant 111</td>
                    <td class="d-none d-sm-none d-md-none d-lg-block">
                        <ul class="list-unstyled list-inline rating mb-0">
                            <li class="list-inline-item mr-0"><i class="fas fa-star"></i></li>
                            <li class="list-inline-item mr-0"><i class="fas fa-star"></i></li>
                            <li class="list-inline-item mr-0"><i class="far fa-star"></i></li>
                            <li class="list-inline-item mr-0"><i class="far fa-star"></i></li>
                            <li class="list-inline-item mr-0"><i class="far fa-star"></i></li>
                            <li class="list-inline-item"><p class="text-muted mb-0">2.0 (45)</p></li>
                        </ul>
                    </td>
                    <td>Restauration</td>
                    <td>Oran</td>
                    <td>
                        <a href="#" class="text-info ml-3"><i class="far fa-list-alt fa-lg"></i></a>
                    </td>
                    <td>
                        <a href="#" class="text-warning ml-3"><i class="fas fa-edit fa-lg"></i></a>
                    </td>
                    <td>
                        <a href="#" class="text-danger ml-3"><i class="fas fa-trash-alt fa-lg"></i></a>
                    </td>
                </tr>

            </table>

        </div>

    </div>

</div>
<!-- Editable table -->