<!-- Card -->
<div class="card hoverable">        

    <!-- Card image -->
    <div class="view overlay zoom" data-toggle="modal" data-target="#QuickView">
        <img class="card-img-top" src="../img/magazin-7.png" alt="Card image cap">
        <div class="mask waves-effect waves-light">
            <p class="text-white pl-2 mt-1"><i class="fas fa-search"></i></p>
        </div>
    </div>
    
    <!-- Card content -->
    <div class="card-body pt-2 pb-2">

        <!-- Title -->
        <h6 class="card-title font-weight-bold mb-0">Pull & Bear</h6>
            <!-- Rating -->
        <ul class="list-unstyled list-inline rating mb-0">
            <li class="list-inline-item mr-0"><small><i class="fas fa-star"></i></small></li>
            <li class="list-inline-item mr-0"><small><i class="fas fa-star"></i></small></li>
            <li class="list-inline-item mr-0"><small><i class="fas fa-star"></i></small></li>
            <li class="list-inline-item mr-0"><small><i class="fas fa-star"></i></small></li>
            <li class="list-inline-item mr-0"><small><i class="fas fa-star-half-alt"></i></small></li>
            <li class="list-inline-item"><p class="text-muted mb-0"><small>4.5 (413)</small></p></li>
        </ul>
        <!-- Locate -->
        <p class="card-text mb-0"><small><i class="fas fa-tag"></i></small>&nbsp;Mode et Vètement</p>
        <p class="card-text mb-0"><small><i class="fas fa-map-marker-alt"></i></small>&nbsp;Sidi Bel Abbes</p>
        <!-- Text -->
        <p class="card-text d-none d-lg-block d-xl-none d-xl-none mb-0">Recently, we added several exotic new.</p>
        <p class="card-text d-lg-none d-xl-block mb-0">Recently, we added several to exotic new dishes to the.</p>
        <!-- Button -->
        <a class="btn btn-flat red-text font-weight-bold p-0 my-0 mx-0" href="/shop/detail" style="font-size:0.7rem;">Voir Plus <i class="fas fa-chevron-circle-right"></i></a>
        
    </div>


</div>
<!-- Card -->