<!-- Card -->
<div class="card hoverable">        

    <!-- Card image -->
    <div class="view overlay zoom" data-toggle="modal" data-target="#QuickView">
        <img class="card-img-top" src="../img/nike-14.jpg" alt="Card image cap">
        <div class="mask waves-effect waves-light">
            <p class="text-white pl-2 mt-1"><i class="fas fa-search"></i></p>
        </div>
    </div>
    
    <!-- Card content -->
    <div class="card-body pt-2 pb-2">

        <!-- Title -->
        <h6 class="card-title font-weight-bold mb-0">Nike 14</h6>
        <!-- Subtitle -->
        <p class="card-text mb-0"><small><i class="far fa-clock"></i></small>&nbsp;07/24/2018</p>
        <!-- Locate -->
        <p class="card-text mb-0"><small><i class="fas fa-tag mr-1"></i></small>Mode<small><i class="fas fa-map-marker-alt ml-2 mr-1"></i></small>Alger</p>
        <!-- Text -->
        <p class="card-text d-none d-lg-block d-xl-none d-xl-none mb-0">Recently, we added several exotic new.</p>
        <p class="card-text d-lg-none d-xl-block mb-0">Recently, we added several exotic new dishes to the.</p>
        <!-- Button -->
        <span class="float-left">
            <a href="/product/detail" class="btn btn-flat red-text font-weight-bold p-0 my-0 mx-0" style="font-size:0.7rem;">Voir Plus <i class="fas fa-chevron-circle-right"></i></a>
        </span>
        <!-- price -->
        <small class="float-right font-weight-bold px-0 pt-1 pb-0"><strong>19 000 DA</strong></small>
    </div>


</div>
<!-- Card -->